<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Updates for {{ now.strftime('%-d %B') }}:</h1>
        <p><img src="{{ data.header_image_src }}" style='width: 100%;' alt="header" /></p>
        <h3>💬 Issues</h3>
        <p>
            {% for issue in data.issues %}
                {{ "🟢" if issue.state == "open" else "🔴" }}
                <a href="{{ issue.html_url }}">#{{ issue.number }}</a> {{ issue.title }}
                {{ "🆕" if issue.created_at < data.since else "" }}
                <br />
            {% else %}
            No updates
            {% endfor %}
        </p>

        <h3>✏️ Pull Requests</h3>
            <p>
            {% for pull in data.pulls %}
                {{ "🟢" if pull.state == "open" else "🔴" }}
                <a href="{{ pull.html_url }}">#{{ pull.number }}</a> {{ pull.title }}
                {{ "🆕" if pull.created_at < data.since else "" }}
                <br />
            {% else %}
            No updates
            {% endfor %}
        </p>

        <h3>🔗 Referrers</h3>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Site</th>
                <th scope="col">Views</th>
                <th scope="col">Unique visitors</th>
                </tr>
            </thead>
            <tbody>
                {% for ref in data.referrers %}
                <tr>
                    <td>{{ ref.referrer }}</td>
                    <td>{{ ref.count }}</td>
                    <td>{{ ref.uniques }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>👀 Views</h3>
        <p><img src="{{ data.views_image_src }}" alt="views" /></p>
        <p style="color:grey;">Generated at {{ now.strftime("%m/%d/%Y, %H:%M:%S") }}</p>
    </body>
</html>