[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
requests = "*"
jinja2 = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
sentry-sdk = "*"
plotly = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
