[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
jinja2 = "*"
python-dotenv = "*"
sentry-sdk = "*"
plotly = "*"
kaleido = "*"
isort = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
tortoise-orm = "*"
httpx = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.9"
