<mjml>
  <mj-body>
    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-size="20px" color="#626262">Updates for {{ now.strftime('%-d %B') }}</mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-image padding=0 src="{{ data.header_image_src }}" />
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column width="500px">
        <mj-text font-style="italic" font-size="20px" font-family="Helvetica Neue" color="#626262">Issues</mj-text>
        <mj-table>
          <colgroup>
            <col span="1" style="width: 30px"></col>
            <col span="1" style="width: 50px"></col>
            <col span="1" style="width: auto"></col>
          </colgroup>
          {% for issue in data.issues %}
            <tr>
              <td> {{ "🟢" if issue.state == "open" else "🔴" }}</td>
              <td> <a href="{{ issue.html_url }}">#{{ issue.number }}</a> </td>
              <td> {{ issue.title }} {{ "🆕" if issue.created_at < data.since else "" }} </td>
            </tr>
            {% else %}
            <tr>
              <td></td>
              <td></td>
              <td>No updates</td>
            </tr>
            {% endfor %}
        </mj-table>
      </mj-column>
    </mj-section>

    <mj-section background-color="white">
      <mj-column width="500px">
        <mj-text font-style="italic" font-size="20px" font-family="Helvetica Neue" color="#626262">Pull Requests</mj-text>
        <mj-table>
          <colgroup>
            <col span="1" style="width: 30px"></col>
            <col span="1" style="width: 50px"></col>
            <col span="1" style="width: auto"></col>
          </colgroup>
          {% for pull in data.pulls %}
            <tr>
              <td> {{ "🟢" if pull.state == "open" else "🔴" }}</td>
              <td> <a href="{{ pull.html_url }}">#{{ pull.number }}</a> </td>
              <td> {{ pull.title }} {{ "🆕" if pull.created_at < data.since else "" }} </td>
            </tr>
          {% else %}
            <tr>
              <td></td>
              <td></td>
              <td>No updates</td>
            </tr>
          {% endfor %}
        </mj-table>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column>
        <mj-text font-style="italic" font-size="20px" font-family="Helvetica Neue" color="#626262">Views</mj-text>
        <mj-image padding=0 src="{{ data.views_image_src }}" />
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column width="500px">
        <mj-text font-style="italic" font-size="20px" font-family="Helvetica Neue" color="#626262">Referrers</mj-text>
        <mj-table>
          <tr style="border-bottom:1px solid #ecedee;text-align:left;padding:15px 0;">
            <th>Site</th>
            <th>Views</th>
            <th>Unique</th>
          </tr>
          {% for ref in data.referrers %}
            <tr>
              <td>{{ ref.referrer }}</td>
              <td>{{ ref.count }}</td>
              <td>{{ ref.uniques }}</td>
            </tr>
          {% endfor %}
        </mj-table>
      </mj-column>
    </mj-section>

    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text color="#626262">Generated at {{ now.strftime("%m/%d/%Y, %H:%M:%S") }}</mj-text>
      </mj-column>
    </mj-section>


  </mj-body>
</mjml>